<div class="row">
  <div class="col s12 m6">
    <div class="card #0d47a1 blue darken-4">
      <div class="card-content white-text">
        <p style="color:rgb(241, 193, 71)">{{format_dateTime date_time}}</p>
        <br />
        <span class="card-title">
          {{user.username}}
          posts:</span>
        <p>Mood: &nbsp; {{mood.name}}</p>
        <p>Activity: &nbsp; {{activity.title}}</p>
        <p>Activity good for mood: &nbsp; {{format_result result}}</p>
      </div>
    </div>
  </div>
</div>