{{! removed tooltipped class in favor of mouse effects to add tool tip back add the next line to class and the following line as attributes }}
{{! tooltipped }}
{{!--   data-position="bottom" data-tooltip="{{description}}"  --}}

<button
  class="waves-effect waves-light btn moodbtn"
  data-id="{{id}}"
  data-desc="{{description}}"
  data-name="{{name}}"
  onmouseover="mOver(this.dataset.desc)"
  onmouseout="mOut()"
>{{name}}</button>

{{! <i class="material-icons right">insert_emoticon</i> }}